APP_ENV=development
APP_NAME=go-ecommerce-backend-api
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=go_ecommerce
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Ho_Chi_Minh

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_HOURS=168


LOG_LEVEL=debug
LOG_FORMAT=console
LOG_OUTPUT=stdout
LOG_FILE_PATH=logs/app.log